@import url('https://fonts.googleapis.com/css2?family=Shantell+Sans&display=swap');
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    width: 1000px;
    height: 549px;
    border: 2px solid black;
   
    background-size: cover;
    margin-top: 10px;
    margin-left: 10px;
}
.eventform{
    height:300px;
    width:900px;
    /* background-color: red; */
    background-size: cover;
    border:2px solid black;
    display:grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(7,1fr);
    justify-content: center;
    align-items: center;
    margin :0px 50px  0px  50px;
     }
.item{
    /* background-color: aqua; */
    height: 40px;
    width: 298px;
   row-gap: 0px;
   column-gap: 5px;
   align-items: center;
   

}
.heading{
    grid-column-start: 1;
    grid-column-end: 4;
    width: auto;
    height: 100px;
    justify-content: center;
   text-align: center;
   /* border: 2px solid black; */
   margin:50px;
   line-height: 40px;
   
  
}
.image{
    grid-row-start: 1;
    grid-row-end: 7;
    height: 300px;
}
.button{
    /* background-color: blueviolet; */
    grid-column-start: 2;
    grid-column-end: 4;
    width: auto;   
}
.image1{
    height: 150px;
    width: 150px;
    border:2px solid black;
    margin: auto;
    margin-top:70px;
}
.submit{
    /* background-color: rgb(101, 66, 12); */
    padding: 5px;
 
    width: 158px;
    margin: 0px 36px 0px 60px;

}
.lable{
    text-align: right;
    font-size: 17px;
}
.input{
    /* background-color: blue; */
    width: 246px;
    height: 27px;
    -moz-outline-radius: 3px;
}
.option{
    width:138px;
}
.text1{
    font-family: 'Shantell Sans', cursive;
    font-size: 20px;
    font-weight: 20px;
}
.heading .text1{
    font-size: 35px;
}
.circle{
    width: 100px;
    height: 100px;
    /* background-color: rgb(133, 89, 24); */
    margin: auto;
    margin-top: 25px;
    border-radius: 50%;
    border:2px solid black;
}
.text2{
    margin: auto;
    margin-top: 33px;
    margin-left: 20px;
}