@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@200&family=Lato:ital,wght@1,300&family=Poppins:wght@200&display=swap');
.container{
    padding:20px;
    margin:5px;
    width:800px;
    height: 850px;;
    display: grid;
grid-template-columns:repeat(1,1fr);
grid-template-rows:repeat(1,1fr);
}

.container1{
/* background-color: red; */
/* background-size: cover; */
height: 120px;
width: 600px;
padding: 5px;
display: grid;
grid-template-columns:repeat(2,1fr);
grid-template-rows:repeat(2,1fr);
row-gap: 5px;
column-gap: 7px;
}
.container1 .heading{
grid-column-start: 1;
grid-column-end: 3;
font-weight: bold;


}
.container1 .name
{
    width:280px;
    height: 30px;
}

sup{
    color:red;

}
.container1 .email
{
  width: 583px;
    height: 30px;
}

.container1 .star {
    font-size: 2rem;
    color:#ff9800;
    background-color: unset;
    border: none; 
}
 .container1 .star:hover {
     cursor:pointer;
 }

.container1 .rating{
user-select: none;

}
.container1 .heading1{
    font-weight: lighter;

}

.container2{
    /* background-color: red; */
    width:auto;    
    height: 200px;
    display:grid;
    grid-template-rows: repeat(2,1fr);
    grid-template-columns: repeat(6,1fr);
    column-gap: 0px;
    row-gap: 0px;
}
 .container2 .item{
  /* background-color: aqua; */
  width:auto;
  height: 30px;
 text-align: center;
 align-items: center;
 padding:3px;

 }
.container2 .heading{
    text-align: left;
    grid-column-start: 1;
    grid-column-end:7 ;
    font-weight: bold;
    
    
 }
 .container2 .item1{
    text-align: left;
 }
 .container2 .a{
    background-color: rgb(209, 223, 235);
 }

 
.container3{
    /* background-color: red; */
    width:auto;    
    height: 200px;
    display:grid;
    grid-template-rows: repeat(2,1fr);
    grid-template-columns: repeat(6,1fr);
    column-gap: 0px;
    row-gap: 0px;
}
 .container3 .item{
  /* background-color: aqua; */
  width:auto;
  height: 30px;
 text-align: center;
 align-items: center;
 padding:3px;

 }
.container3 .heading{
    text-align: left;
    grid-column-start: 1;
    grid-column-end:7 ;
    font-weight: bold;
 }
 .container3 .item1{
    text-align: left;
 }
 .container3 .a{
    background-color: rgb(209, 223, 235);
 }
 .container4{
    /* background-color: red; */
    width: 800px;;    
    height: 170px;
    display:grid;
    grid-template-rows: repeat(1,1fr);
    grid-template-columns: repeat(1,1fr);
    column-gap: 0px;
    row-gap: 0px;
}
 .container4 .item{
  /* background-color: aqua;  */
margin-top: 20px;
 padding:3px;
 }
 .container4 textarea{
  height:100px;
  width:800px;
 }
 .container4 .heading{
    font-weight: bold;
    

 }
 .container4  .button{
    /* background-color: blue; */
    padding: 10px;
 }
 .container2 .radio:hover{
    cursor: pointer;
 }

 .container3 .radio:hover{
    cursor: pointer;
 }